<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <h2 class="section make-it-left make-it-white-back make-it-dark make-it-rounded-top">Welcome to Our Store</h2>
    <!-- Main Content Section -->
    <section class="section make-it-normal">
        <div class="container">
            <div class="columns is-multiline">
                <!-- Two Column Layout for First 8 Paragraphs -->

                <div class="column is-12 make-it-white section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec nisi vitae velit elementum aliquam non ut tortor. In hac habitasse platea dictumst. Nulla a condimentum odio. Etiam posuere urna sit amet risus maximus tempor. Phasellus placerat, ante nec sollicitudin feugiat, mi est vulputate velit, ac dictum libero odio id sapien.</p>


                </div>

                <div class="column is-9 make-it-white">
                    <p>Curabitur vel dui et turpis interdum maximus at ac nunc. Nam iaculis mauris vel est aliquet, vel tempus odio mollis. Quisque ornare efficitur nunc, ut feugiat turpis ullamcorper nec. Nulla consequat ante ut mauris volutpat interdum. Vivamus lobortis id purus sed scelerisque. Sed sodales, justo vel cursus consectetur, urna libero eleifend justo, sed dapibus felis orci ut justo.</p>


                    <p>Quisque ullamcorper felis at sem vulputate, non dapibus neque viverra. Nam ac odio mollis, pretium felis at, gravida ante. Mauris hendrerit elit sit amet lectus vestibulum iaculis. Donec fringilla dui eget ex efficitur pharetra. Morbi sit amet pharetra sem. Aliquam interdum odio nec dolor fringilla, id pharetra felis vestibulum.</p>
                </div>

                <div class="column is-3 make-it-rounded make-it-semi-back make-it-normal">
                    <p>Phasellus ut velit quis leo suscipit gravida. Vestibulum sit amet neque id nunc scelerisque venenatis a eu odio. Aliquam erat volutpat. Fusce et nulla sit amet est tempor sodales. In aliquam purus quis arcu rhoncus, at bibendum metus volutpat. Nam malesuada ligula sit amet libero efficitur, ac porttitor leo hendrerit. Donec sit amet eros sit amet felis vulputate ullamcorper eget id ligula.</p>
                </div>

                <!-- Last Paragraph in Single Column -->
                <div class="column is-12 make-it-white section">
                    <p>Donec a libero nec libero volutpat rhoncus. Nulla a urna volutpat, ultricies neque eget, mollis neque. Curabitur maximus sapien in quam varius, at facilisis orci placerat. Integer maximus sapien ut purus efficitur, sed pharetra dui sodales. Proin sit amet arcu sit amet justo elementum convallis. Curabitur suscipit sem ut augue ullamcorper, id gravida dui scelerisque. Aenean accumsan urna eu erat tincidunt ultricies. In vitae arcu sit amet purus luctus suscipit et in ante.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
