<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Real-Time Products</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('updateProducts', (products) => {
            const productList = document.getElementById('productList');
            productList.innerHTML = products.map(product => `
                <div class="other-bar">
                    <li>
                        <h4 class="card section"><strong>PID:</strong> ${product.pid}</h4>
                        <strong>${product.title} - ${product.price}</strong>
                        <p><strong>Stock:</strong> ${product.stock}</p>
                        <p><strong>Motorizable:</strong> ${product.motorizable ? "Yes" : "No"}</p>
                        <p><strong>Lighting:</strong> ${product.lighting ? "Yes" : "No"}</p>
                        <hr>
                    </li>
                </div>
            `).join('');
        });
    </script>
</head>
<body>
    <h2 class="title section">Real Time Product List</h2>
    <ul class="section" id="productList">
        
    </ul>
</body>
</html>