@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./RobotoCondensed-Regular.ttf)
}

.div,
a:active,
a:hover,
a:link,
a:visited {
  color: #484b4a !important
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-color: #384D48;
  padding: 5.5rem 1rem 4.5rem 1rem !important;
}

.App,
.App-header {
  color: #384D48;
  font-family: Roboto, Arial, Helvetica, sans-serif
}

.App {
  text-align: left;
  padding-top: 0rem;
  padding-bottom: 0rem
}

.App-header {
  background-color: #6E7271;
  min-height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 1rem
}

.cart-icon,
.logo-container,
.navbar-right {
  color: #6E7271;
  text-decoration: none;
  margin: .1rem;
  position: relative;
  font-family: Roboto, Arial, Helvetica, sans-serif
}

.logo-container {
  padding: .1rem .7rem;
  gap: 0;
  margin: 0
}

.make-it-7-wide {
  min-width: 7rem !important;
}

.make-it-8-wide {
  min-width: 8rem !important;
  max-width: 8rem !important;
}

.make-it-9-wide {
  min-width: 9rem !important;
  max-width: 9rem !important;
}

.make-it-10-wide {
  min-width: 10rem !important;
  max-width: 10rem !important;
}

.make-it-11-wide {
  min-width: 11rem !important;
  max-width: 11rem !important;
}

.make-it-15-wide {
  min-width: 15rem !important;
  max-width: 15rem !important;
}

.make-it-20-wide {
  min-width: 18rem !important;
  max-width: 18rem !important;
}

.make-it-100percent-wide {
  min-width: 100%;
  max-width: 100%;
}

.navbar-item{
  display: inline-block;
  min-width: 6rem !important;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: solid;
  border-width: 0 1px 0 0;
  border-color: #7e8073 !important;
}

.cart-count {
  background-color: rgba(97, 110, 124, .999);
  color: #fff;
  border-radius: 20%;
  padding: .1rem .5rem;
  font-size: .8rem;
  position: absolute;
  top: -1.1rem;
  right: -1.1rem
}

.item-counter,
.item-counter-container {
  display: flex;
  align-items: center;
  padding: .9rem .1rem 1rem
}

.item-counter {
  gap: .6rem;
  font-weight: 400;
  color: #fff;
  font-size: .9rem
}

.item-counter-container {
  flex-direction: column
}

.item-counter-add-button-cont {
  display: block;
  flex-direction: row;
  align-items: center;
  padding: .9rem .1rem 1rem
}

.logo-text {
  font-weight: 700;
  color: #fff;
  font-size: 1.6rem
}

.logo-image {
  border-radius: 20%;
  padding: .2rem .5rem;
  font-size: .9rem;
  position: relative;
  min-width: 5rem;
  width: 8rem
}

.logo-back {
  padding: .8rem 0 .8rem .7rem
}

.button-sep {
  margin: .1rem
}

.content-container,
.content-container-paragraphs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0
}

.content-container-paragraphs {
  flex-direction: column
}

.content-container-leftmost {
  align-items: flex-start;
  padding: 0;
  display: flex
}

.stock-flag-counter {
  background-color: rgba(200, 150, 0, .999);
  color: #000
}

.in-stock-flag-counter,
.last-stock-flag-counter,
.out-of-stock-flag-counter,
.stock-flag-counter {
  border-radius: 3px;
  padding: .3rem .5rem;
  font-size: 1rem;
  position: absolute;
  top: 6rem;
  right: 1rem
}

.last-stock-flag-counter {
  background-color: rgba(200, 150, 0, .999);
  color: #000
}

.in-stock-flag-counter {
  background-color: rgba(64, 192, 64, .999);
  color: #000
}

.out-of-stock-flag-counter {
  background-color: rgba(200, 0, 0, .999);
  color: #fff
}

.card-title-container {
  background-color: rgba(163, 172, 182, .999)
}

.card-content-container,
.card-picture-container,
.card-title-container {
  padding: 1rem .9rem;
  position: relative
}

.card-category-badge-blueprints,
.card-category-badge-prebuilt,
.card-category-badge-specials,
.card-category-badge-usersubmission {
  padding: 0.5rem;
  font-size: 0.8rem !important;
  position: relative;
  top: 1rem;
  left: 0rem;
  align-items: center;
  justify-content: center
}

.card-category-badge-detail {
  font-size: 1rem
}

.card-category-badge-detail,
.card-category-badge-price {
  border-radius: 3px;
  top: 6rem;
  left: 1rem;
  align-items: center;
  justify-content: center
}

.card-category-badge-prebuilt {
  background-color: #384D48;
  color: #fff
}

.card-category-badge-usersubmission {
  background-color: rgba(10, 110, 110, .999);
  color: #fff
}

.card-category-badge-blueprints {
  background-color: rgba(10, 180, 180, .999);
  color: #000
}

.card-category-badge-specials {
  background-color: rgba(10, 200, 230, .999);
  color: #000
}

.card-category-badge-price {
  background-color: rgba(10, 230, 230, .999);
  color: #000;
  position: relative;
  top: 0;
  left: 0;
  padding: .7rem 1.5rem;
  justify-items: center;
  display: flex;
  min-width: 8rem
}

.page-title-main-container {
  display: flex;
  color: #fff;
  flex-direction: column;
  padding: .5rem .7rem
}

.card-footer {
  justify-content: space-evenly;
  padding: 1.6rem
}

.is-frozen {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 3rem;
  z-index: 1;
  color: #fff
}

.title {
  padding-top: .2rem
}

.make-it-nonwrap {
  overflow-wrap: break-word
}

.make-it-wide {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100vw;
  position: relative
}

.make-it-wide-50vw {
  width: 50vw
}

.make-it-wide-100,
.make-it-wide-50vw,
.make-it-wide-60,
.make-it-wide-80vw,
.make-it-wide-column {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  position: relative
}

.make-it-wide-80vw {
  width: 80vw
}

.make-it-wide-100,
.make-it-wide-60,
.make-it-wide-column {
  width: 60%
}

.make-it-wide-100,
.make-it-wide-column {
  width: 100%
}

.make-it-wide-column {
  flex-direction: column;
  align-items: flex-start
}

.sort-bar-container .title-bar-container .general-bar-container {
  display: flex;
  width: 100%;
  position: relative;
  background-color: #6E7271;
  padding: .5rem;
}

.subtitle-bar-container,
.title-bar-container {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #6E7271;
  padding: 1rem;
  color: #fff !important
}

.subtitle-bar-container {
  font-size: 1.2rem !important;
  background-color: #6E7271 !important
}

.sort-bar {
  flex-direction: rows;
  justify-content: space-between;
  align-items: center
}

.bar-spaced-around,
.other-bar,
.sort-bar {
  display: flex;
  flex-wrap: wrap
}

.bar-spaced-around {
  flex-direction: rows;
  justify-content: space-around;
  align-items: center;
  width: 100%
}

.sort-bar-element-padding .bar-element-padding {
  padding: .1rem .7rem 0 0
}

.other-bar {
  display: inline-flex;
  padding-bottom: 0rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row
}


.navbar-right,
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.search-container {
  flex-wrap: nowrap
}

.select-corrector {
  top: -.25rem
}

.cart-icon {
  display: flex;
  align-items: center
}

.section {
  margin: .2rem !important;
  padding: .6rem !important
}

.mid-section {
  margin: .4rem !important;
  padding: .4rem !important
}

.small-section {
  margin: .15rem !important;
  padding: .15rem !important
}

.cart-listitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem
}

.cart-image,
.thumb-image {
  width: 56px;
  margin-right: 2rem
}

.medium-image {
  width: 160px;
}

.small-logo-image {
  width: 8rem;
  margin-right: 2rem
}

.car-item-inner-container,
.card-item-inner-container {
  display: flex;
  align-items: center
}

.card-item-inner-min-width {
  align-items: center;
  min-width: 95vw !important;
  justify-items: left
}

.cart-footer,
.general-page-footer,
.rt-general-page-footer {
  position: fixed;
  bottom: -1.5rem !important;
  left: 0;
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #6E7271 !important;
  padding: 0.7rem;
  z-index: 1;
}

.general-page-footer {
  justify-content: left
}

.rt-general-page-footer {
  bottom: 0rem !important;
}

.general-page-footer-moving,
.general-page-log-in-box,
.generic-title-container {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.7rem;
}

.general-page-footer-moving,
.generic-title-container {
  flex-direction: rows;
  justify-content: left;
  background-color: #6E7271 !important
}

.general-page-log-in-box {
  flex-direction: column;
  justify-content: center;
  background-color: rgba(128, 132, 136, .999) !important;
  border-radius: 6px
}

.sort-bar-page-list {
  width: 100%
}

.sort-bar-page-list,
.sort-bar-page-list-collapsed {
  position: relative;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
  background-color: #6E7271 !important;
  padding: 1rem 1rem .7rem;
  border-radius: .35rem;
  margin-bottom: 0rem
}

.admin-item-min-width {
  min-width: 80vw;
  flex-direction: column;
  display: flex
}

.admin-floater-buttons {
  position: absolute;
  top: .5rem;
  right: .5rem
}

.sort-bar-page-list-collapsed {
  width: min-content
}

.splash-page-home {
  padding-top: 0rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden
}

.all-height,
.splash-page-about,
.splash-page-cart {
  min-height: 100vh;
  height: 100%;
  top: 0;
  left: 0
}

.cart-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap
}

.navbar-burger span {
  background-color: #6E7271 !important
}

.navbar-link::after {
  border-color: #6E7271 !important
}

:focus,
:focus-visible {
  outline: 0 !important
}

.button:focus,
.button:focus-visible,
:focus,
:focus-visible {
  color: #6E7271 !important;
  border-color: #6E7271 !important
}

input:focus,
textarea:focus {
  color: #6E7271 !important;
  border-color: #6E7271
}

.modal,
.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center
}

.modal-buttons {
  flex-direction: column;
  margin-top: 0px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3)
}

.modal-content {
  position: relative;
  z-index: 1001;
  background: 0 0;
  padding: 20px
}

.make-it-rounded-top {
  border-radius: .35rem .35rem 0 0
}

.make-it-rounded-bottom {
  border-radius: 0 0 .35rem .35rem
}

.make-it-rounded {
  border-radius: .35rem
}

.make-it-normal {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.85rem !important;
}

.make-it-small {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.7rem !important;
}

.make-it-white {
  color: #E2E2E2 !important
}

.make-it-white-back {
  background-color: #E2E2E2 !important
}

.make-it-light {
  color: #E2E2E2 !important
}

.make-it-light-back {
  background-color: #E2E2E2 !important
}

.make-it-semi {
  color: #ACAD94 !important
}

.make-it-semi-back {
  background-color: #ACAD94 !important
}

.make-it-dark {
  color: #363838 !important
}

.make-it-dark-back {
  background-color: #363838 !important
}

.make-it-left {
  align-items: left !important;
  text-align: left !important
}

.make-it-center {
  align-items: center !important;
  text-align: center !important
}

.make-it-left-center {
  align-items: left !important;
  text-align: left !important;
  align-content:center !important;
}

.make-it-right {
  align-items: right !important;
  text-align: right !important;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: .5rem;
  padding: .5rem;
  width: 100%;
  text-align: left;
  align-items: top
}

.correction-down-half {
  position: relative;
  top: .8rem !important
}

.close-button {
  width: 2rem !important;
  height: 2rem !important
}

.grid-container-2c-by-1r {
  grid-template-columns: repeat(2, 1fr)
}

.grid-container-2c-by-1r,
.grid-container-2c66-by-1r,
.grid-container-3c-by-1r-special,
.grid-container-3c-by-1r, .grid-container-6c-by-1r {
  display: grid;
  gap: .5rem;
  padding: .5rem;
  width: 100%;
  text-align: left;
  align-items: center
}

.grid-container-3c-by-1r-special{
  grid-template-columns: repeat(3, 1fr)
}

.grid-container-2c66-by-1r {
  grid-template-columns: 15% 85%;
}

.grid-container-3c-by-1r {
  grid-template-columns: repeat(3, 1fr);
}

.grid-container-5c-by-1r {
  grid-template-columns: repeat(5, 1fr);
}

.grid-container-6c-by-1r {
  grid-template-columns: repeat(6, 1fr);
}

.grid-container-7c-by-1r {
  grid-template-columns: repeat(7, 1fr) !important;
}

.grid-item {
  background-color: #6E7271;
  padding: 20px;
  text-align: center;
  border: 1px solid #6E7271;
  border-radius: 8px
}

.hide-overflow {
  overflow: hidden
}

.center-content {
  display: flex;
  justify-content: center
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}



@media (max-width: 1024px) {
  body {
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    background-attachment: fixed;
    padding-top: 6.4rem !important
  }

  .grid-container-3c-by-1r{
    grid-template-columns: repeat(1, 1fr)
  }

  .logo-image {
    font-size: .9rem;
    position: relative;
    width: 5rem
  }
}