<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body class="splash-page-home">
    <header>
        <h2 class="title-bar-container make-it-semi-back make-it-dark">BE Product server</h2>
    </header>

    <main>
        {{{body}}} 
    </main>

    <footer class="content section make-it-white">
        <p>BE Product Server</p>
    </footer>
</body>
</html>
