<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body class="splash-page-home make-it-normal">

    <header class="title-bar-container other-bar is-frozen make-it-semi-back make-it-normal is-small">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/static/shopnhour_blue.png" alt="Shopnhour Store Logo" width="115px">
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-small make-it-rounded-top" href="/products">Products</a>
                <a class="navbar-item is-small make-it-rounded-top" href="/carts">Carts</a>
            </div>
        </div>
    </header>

    <main>
        {{{body}}} 
    </main>

    <footer class="content section make-it-white">
        <p>&copy; 2025 Shopnhour </p>
    </footer>
</body>
</html>
